.saveIcon {
  height: 25px;
  width: 25px;
}
.saveBtn {
  background: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  color: #475569;
  display: flex;
  align-items: center;
  width: 70px;
  cursor: pointer;
}
.savedBttn {
  background: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  color: #3b82f6;
  display: flex;
  align-items: center;
  width: 70px;
  cursor: pointer;
}
.horiLine {
  width: 92vw;
  color: #475569;
}
@media (min-width: 576px) {
  .horiLine {
    width: 72vw;
  }
}
